
@using WelspunVessel.DTO.Masters
@model CityMasterDTO
@using WelspunVessel.DTO

@if (Model != null && Model.CityId > 0)

{
    ViewBag.Title = "City Detail";
}
<section class="content-header">
    <div class="col-lg-12 col-sm-12 col-md-12">

        <h2 class="main-title">View City Detail</h2>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="@Url.Action("Index", "CityMaster")"> City Master</a></li>
            <li class="active">View City Master Detail</li>
        </ol>
    </div>
</section>
@*<section class="content-header">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <h2 class="main-title">View City Detail</h2>
        </div>
    </section>*@
<section class="content">
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12 col-sm-12 table-layer">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-horizontal">
                            <fieldset class="col-md-12 fieldsetGroup">
                                <div class="col-md-6">
                                    <label asp-for="CountryId" class="control-label">Country Name</label><span class="control-label requiredStar">*</span>
                                    <select asp-for="CountryId" class="form-control" asp-items="@(new SelectList(@ViewBag.CountryList,"CountryID", "CountryName"))"
                                                                                       tabindex="4" disabled="disabled">
                                        <option value="">Select Country Name</option>
                                    </select>
                                    <span asp-validation-for="CountryId" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="CityName" class="control-label">City Name</label><span class="control-label requiredStar">*</span>
                                    <input asp-for="CityName" class="form-control" type="text" tabindex="3" autocomplete="off" disabled="disabled" />
                                    <span asp-validation-for="CityName" class="text-danger"></span>
                                </div>

                                <div class="col-md-6">
                                    <label asp-for="IsActive" class="control-label">Status</label><span class="control-label requiredStar"></span>
                                    <br />
                                    <select asp-for="IsActive" class="form-control" tabindex="16" disabled>
                                        <option value=''>Select Status</option>
                                        <option value='true'>Active</option>
                                        <option value='false'>InActive</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
            <div class="">
                <input asp-for="CityId" type="hidden" />
                <a href="@Url.Action("Index")" class="btn btn-default custom-btn" tabindex="9">Back</a>
            </div>
        </div>
    </div>
</section>

